body {
    margin: 0;
}

.contents{
    background: url("https://upload.wikimedia.org/wikipedia/commons/6/64/ChicagoFromCellularField.jpg");
    background-size: 110vw;
    background-repeat: repeat-y;
    background-attachment: inherit;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
}

.card {
    border: rgba(200,200,200,0.5) solid 1px;
    border-radius: 10px;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.5);
    cursor: move;
    height: 500px;
    margin-left : auto;
    margin-right : auto;
    overflow: hidden;
    position: relative;
    transition : box-shadow 0.4s ease;
    width: 350px;
}

.card:active {
    box-shadow: 0px 40px 30px rgba(0,0,0,0.7);
}

.card-contents {
    color:white;
    font-family: sans-serif;
    height: inherit;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.6);
    width: inherit;
    z-index: 2;
}

.card-color-clear {
    background-color:rgba(255,255,255,1);
}

.card-color-white {
    background-color:rgba(255,255,255,0.4);
}

.card-color-grey {
    background-color:rgba(120,120,120,0.4);
}

.card-color-black {
    background-color:rgba(30,30,30,0.7);
}

.card-contents h1 {
    font-size: 2.5em;
    font-weight: 100;
    margin-top:40px;
    width: inherit;
}

.content-image {
    background: url("https://c1.staticflickr.com/5/4106/5197584230_e41bd7f828_b.jpg");
    background-size: 140%;
    border-radius: 100px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.6);
    height:200px;
    margin-bottom:20px;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    width:200px;
}

.card-bg {
    z-index: 1;
}

.text-contents {
    font-size:0.8em;
    line-height:1.5em;
    padding: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    width:310px;
}