/*
 * Globals
 */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-weight: lighter;
    color: #333;
}

body {
    font-family: "Noto Sans KR",Helvetica,Arial,sans-serif !important;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 920px;
    }
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

/*
 * Masthead for nav
 */

.blog-masthead {
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
}

/* Nav links */
.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}

.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #fff;
    text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #fff;
}

.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}

/*
 * Blog name and description
 */

.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog-title {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 10px 0;
    margin-bottom: 0;
    text-align: center;
}

.blog-title hr {
    margin-top: 1em;
    margin-bottom: 0.5em;
    border-width: 3px;
    border-color: #303030;
}

.blog-title h1 {
    font-size: 60px;
    font-weight: normal;
    color: #303030;
    text-decoration: none;
}

#site-title {
    color: #303030;
    text-decoration: none;
}

.blog-description {
    font-weight: lighter;
    font-size: 18px;
    color: #303030;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 18px;
    line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}

.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}

/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}

.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}

.page-title {
    font-size: 48px;
    padding-bottom: 12px;

}

.post-list h2 {
    font-size: 30px;
}

.post-list {
    padding-left: 0;
}

.post-list li {
    list-style: none;
}

.post-list hr {
    margin-top: 1em;
    margin-bottom: 0.5em;
    border-width: 3px;
    border-color: #303030;
}

.rss-subscribe {
    font-weight: 300;
}

.list-container {
    padding-bottom: 20px;
    border-bottom: 1px solid darkgray;
}

.list-container:last-child {
    border-bottom: none;
}

.post-meta {
    line-height: 2em;
    color: darkgray;
    font-weight: 300;
}

.post-description {
    font-weight: 200;
    color: #555;
    font-size: 18px;
}

/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 10px;
    font-size: 38px;
}

.blog-post-meta {
    font-weight: 300;
    margin-bottom: 20px;
    color: #999;
}

.blog-post-content {
    font-weight: 300;
}
.profile-container{
    text-align: center;
}

.profile_pic{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.blog-post-content p {
    padding-bottom: 10px;
    line-height: 1.6em;
}

.return-to-list {
    text-align: center;
}

/*
 * Footer
 */

.blog-footer {
    padding: 40px 0;
    border-top: 1px solid #e5e5e5;
}

.blog-footer li {
    list-style: none;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.footer-col {
    font-weight: 300;
    display: inline-block;
    width: 45%;
}

.copyright {
    padding-top: 10px;
    font-size: 14px;
    text-align: center;
    color: gray;
    font-weight: 300;
}

.contents {
    width: 90vw;
    max-width: 900px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    min-width: 790px;
}

.tl-contents{
    background: url("./img/bg1.jpg");
    background-size: 1920px !important;
    background-repeat: no-repeat !important;
    background-attachment: inherit;
    height: 650px;
    margin-top:30px;
    width: 90vw;
    min-width: 790px;
    max-width: 900px;
}

.wide{
    width:100vw !important;
    max-width: 1920px !important;
}

.card-wrapper {
    height: 520px;
    width: 350px;
}

.tl-card-contents {
    color:white;
    font-family: sans-serif;
    height: inherit;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.6);
    width: inherit;
}

.tl-card-contents h1 {
    font-size: 2.8em;
    font-weight: 700;
    margin-top:60px;
    width: inherit;
}

.content-image {
    background: url("https://c1.staticflickr.com/5/4106/5197584230_e41bd7f828_b.jpg");
    background-size: 160%;
    border-radius: 100px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.6);
    height:200px;
    margin-bottom:20px;
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    width:200px;
}

.color-button-container {
    width: auto;
    height: 20px;
    padding-top: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -36px;
}

.color-button {
    border-radius: 6px;
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
}

.text-contents {
    font-size:0.8em;
    line-height:1.5em;
    padding: 5px 10px 5px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    width:310px;
}

.auto-graph {
    background-color:rgb(50,50,50);
    font-size:0.8em;
    margin-bottom:4px;
    margin-top:14px;
    padding-top:8px;
    padding-bottom:8px;
    font-weight: bold;
}

.auto-graph a {
    color: white;
    text-decoration: none !important;
}

.auto-graph a:hover{
    color: white;
    text-decoration: none !important;
}

.control-panel {
    font-family: "Noto Sans KR",Helvetica,Arial,sans-serif !important;
    background-color: #373737;
    color : rgb(250,250,250);
    display:block;
    min-width: 790px;
    max-width: 900px;
    height:60px;
    padding: 0;
    position:relative;
    z-index: 3;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}
.control-panel input {
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(60,60,60);
    text-align: center;
    margin-right: 10px;
    background: white;
    border-radius: 5px;
    border: none;
    width: 50px;
}
.control-panel .button {
    display: inline-block;
    font-family: "Noto Sans KR",Helvetica,Arial,sans-serif !important;
    border-radius: 0px;
    font-weight:lighter;
    background-color: rgba(50,50,50,1);
    border: none;
    height: 100%;
    margin: 0;
    transition: background-color 0.4s ease;
    padding-top: 18px;
}
.wide-button {
    height:30px;
    width:30px;
    background-color: #ff2d8b;
    color: white;
    text-align: center;
    position:static;
    cursor: pointer;
    font-size: 1.5em;
    float:right;
}
#bBlur{
    width:33%;
}
#bBg{
    width:33%;
    margin-left: 1px;
    margin-right: auto;
    position: relative;
}
#bFix {
    width:33%;
    float:right;
    border:none;
}

.align-right {
    margin-right:-30px;
}

.card-color-clear {
    background-color:rgba(255,255,255,1);
}

.card-color-white {
    background-color:rgba(255,255,255,0.4);
}

.card-color-grey {
    background-color:rgba(120,120,120,0.4);
}

.card-color-black {
    background-color:rgba(30,30,30,0.7);
}

.distribute {
    margin-top: 20px;
    padding: 10px 20px 0px 20px;
    width:auto;
    height:80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.distribute a{
    text-decoration: none !important;
    color: rgb(60,60,60);
}

.distribute a:hover{
    color: #337ab7;
}

hr.style-two {
    max-width: 900px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(80, 80, 80, 0), rgba(200, 200, 200, 0.75), rgba(0, 0, 0, 0));
}

.distribute img {
    height: 3em;
    margin-right: 4px;
}

.distribute span {
    font-size: 1em;
    font-weight: bold;
}

.b-download {
    height:60px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(245,245,245);
    border: rgb(235,235,235) 1px solid !important;
    border-radius: 10px !important;
    padding-top: 8px !important;
    padding-right: 20px !important;
}

.btn:focus:hover:after:active {
  outline: none !important;
}

.like {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 600px;
    margin-top: 10px;
    text-align: center;
}

.g-like {
    margin: 0px 5px 0px 5px;
    display: inline-block;
}

footer {
    text-align: center;
    color: rgb(60,60,60);
    font-weight: lighter;
    padding: 0px 20px 40px 20px;
    min-width: 790px;
}
